@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  min-height: 100vh;
  background: url('/src/assets/background1.png') center center / cover no-repeat, linear-gradient(to bottom right, #000A2E 80%, #170024 100%);
  background-attachment: fixed;
}